.our-expertise-7 {
  .section-title-wrapper {
    margin-bottom: 90px;

    @media #{$md} {
      margin-bottom: 50px;
    }

    .title {
      font-weight: 700;
      font-size: 200px;
      line-height: 200px;
      text-transform: uppercase;
      text-align: center;
      color: var(--white);
      @media #{$xl} {
        font-size: 125px;
        line-height: 125px;
      }
      @media #{$lg} {
        font-size: 100px;
        line-height: 104px;
      }
      @media #{$md} {
        font-size: 75px;
        line-height: 75px;
      }
      @media #{$sm} {
        font-size: 55px;
        line-height: 55px;
      }
      @media #{$xs} {
        font-size: 40px;
        line-height: 45px;
      }

      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px var(--white);
      }
    }
  }
  .our-expertise__top {
    display: grid;
    grid-template-columns: 536px 1fr auto;
    border-bottom: 1px solid #d5d0ce;
    padding-bottom: 35px;

    @media #{$xl} {
      grid-template-columns: 430px 1fr auto;
    }
    @media #{$md} {
      grid-template-columns: 330px 1fr auto;
    }
    @media #{$sm} {
      gap: 20px;
      grid-template-columns: auto;
    }

    span {
      font-size: 24px;
      font-weight: 700;
      color: var(--white);
      padding-left: 15px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 500px;
        background: var(--white);
        top: 50%;
        left: 0;
        transform: translate(0px, -50%);
      }
    }
  }

  .our-expertise-item {
    gap: 30px;
    display: grid;
    cursor: pointer;
    padding-top: 35px;
    position: relative;
    padding-bottom: 35px;
    border-bottom: 1px solid #d5d0ce;
    grid-template-columns: 504px 350px 1fr;

    @media #{$xl} {
      grid-template-columns: 400px 430px 1fr;
    }

    @media #{$lg} {
      grid-template-columns: 400px 1fr auto;
    }

    @media #{$md} {
      grid-template-columns: 300px 1fr auto;
    }

    @media #{$sm} {
      grid-template-columns: 1fr;
      padding-bottom: 20px;
      gap: 5px;
    }

    &:hover {
      span,
      .title {
        color: #b3ec11;
      }
    }

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      display: inline-block;
      color: var(--white);
      letter-spacing: -0.7px;
      text-transform: uppercase;
      font-family: var(--font_bdogrotesk);
      z-index: 1;
      position: relative;
      transition: all 0.3s;
    }

    .title {
      z-index: 1;
      font-size: 20px;
      font-weight: 700;
      line-height: 34px;
      position: relative;
      color: var(--white);
      transition: all 0.3s;
    }

    span {
      z-index: 1;
      font-size: 20px;
      font-weight: 700;
      line-height: 34px;
      position: relative;
      color: var(--white);
      margin-left: auto;
      transition: all 0.3s;

      @media #{$sm} {
        margin-left: inherit;
      }
    }
  }

  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 99;
    width: 350px;
    height: 370px;
    overflow: hidden;
    pointer-events: none;
    border-radius: 10px;
    will-change: transform;
    transform: translate(0%, 0%) scale(0);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      pointer-events: none;
    }
  }
}
