.client-slider {
  &__item {
    background: #fbf7f0;
    border: 1px solid var(--white);
    padding: 45px;
    border-radius: 10px;

    @media #{$xl} {
      padding: 45px 30px;
    }
    @media #{$xs} {
      padding: 30px 20px;
    }

    .icon {
      margin-bottom: 45px;

      @media #{$xs} {
        margin-bottom: 30px;
      }
    }

    p {
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      color: var(--black);
      max-width: 466px;

      @media #{$xs} {
        font-size: 15px;
        line-height: 25px;
        font-weight: 700;
        color: var(--black);
        max-width: 466px;
      }
    }

    &__author {
      gap: 25px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 45px;

      @media #{$xs} {
        margin-top: 30px;
      }

      .media {
        width: 75px;
        height: 75px;
        border-radius: 4px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
        }
      }

      .text {
        .name {
          font-size: 26px;
          line-height: 30px;
          font-weight: 700;
          color: var(--black);
          margin-bottom: 5px;
        }

        span {
          font-size: 18px;
          line-height: 28px;
          color: var(--black);
        }
      }
    }
  }

  .client-slider__dot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 10px;

    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      padding: 0;
      opacity: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      position: relative;
      margin: 0 !important;
      border-radius: 500px;
      background: transparent;
      border: 2px solid var(--black);
    }
    .swiper-pagination-bullet:after {
      position: absolute;
      width: 10px;
      height: 10px;
      content: "";
      top: calc(50% - 5px);
      background: transparent;
      border-radius: 500px;
      left: calc(50% - 5px);
    }
    .swiper-pagination-bullet-active {
      border-color: var(--black);
    }
    .swiper-pagination-bullet-active::after {
      background-color: var(--black);
    }
  }
}
