.cta {
  &__content {
    max-width: 804px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .title {
      font-weight: 800;
      font-size: 100px;
      line-height: 100px;
      font-style: normal;
      text-align: center;
      margin-bottom: 35px;
      color: var(--primary);
      text-transform: uppercase;

      @media #{$lg} {
        font-size: 80px;
        line-height: 80px;
      }
      @media #{$md} {
        font-size: 61px;
        line-height: 61px;
      }
      @media #{$sm} {
        font-size: 50px;
        line-height: 50px;
      }
      @media #{$xs} {
        font-size: 33px;
        line-height: 38px;
      }

      span {
        color: var(--blue);
      }
    }
  }
}
