/* header area style  */

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;

  &__inner {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    height: 80px;

    @media #{$lg} {
      height: 70px;
      gap: 10px;
    }

    & > *:nth-child(1) {
      margin-inline-end: auto;
    }
  }

  .header__logo {
    img {
      @media #{$xs} {
        max-width: 150px;
      }
    }
  }

  .header__nav {
    display: flex;
    align-items: center;
    border-radius: 90px;
    padding-right: 30px;
    backdrop-filter: blur(17.5px);
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.25),
      inset 0px 8px 10px rgba(0, 0, 0, 0.25);

    @media #{$lg} {
      background: none;
      border: none;
    }
  }

  .main-menu li a {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 28px;

    &:hover {
      color: var(--action);
    }
  }

  .side-toggle {
    height: 24px;

    .bar-icon {
      width: 50px;
      height: 10px;

      @media #{$xs} {
        width: 30px;
      }

      span {
        height: 2px;
        border-radius: 500px;
        background-color: var(--white);
      }
    }
  }
}

/* header area style  */
.header-area-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  .container {
    max-width: 1800px;
  }
  &__inner {
    gap: 30px;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    align-items: center;
    position: relative;
    border-radius: 10px;
    display: inline-flex;
    padding: 0 30px 0 30px;
    backdrop-filter: blur(5px);
    border: 1px solid #282828;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset -10px 0px 10px rgba(0, 0, 0, 0.25);

    @media #{$lg} {
      display: flex;
    }

    @media #{$sm} {
      height: 70px;
    }
  }

  .header__logo {
    img {
      @media #{$xs} {
        width: 100px;
      }
    }
  }

  .main-menu {
    li {
      &.menu-item-has-children {
        > a {
          &:after {
            content: "";
            top: 0%;
            right: 10px;
            width: 100%;
            height: 100%;
            position: absolute;
            background-position: right;
            background-repeat: no-repeat;
            background-image: url(../img/icon/arrow.svg);

            @media #{$xl} {
              right: 0;
            }
          }
        }
      }
    }
  }
  .main-menu li a {
    font-weight: 600;
    padding: 15px 28px;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    text-transform: uppercase;
    font-family: var(--font_brico);

    @media #{$xl} {
      padding: 15px 16px;
    }

    &:hover {
      color: var(--action);
    }
  }

  .search-icon {
    color: var(--primary);
  }

  .header__button {
    @media #{$lg} {
      margin-left: auto;
    }
    @media #{$sm} {
      display: none;
    }
  }
  .header__navicon {
    margin-left: auto;

    @media #{$lg} {
      margin-left: inherit;
    }

    i {
      font-size: 22px;
      color: var(--white);
    }
  }
}

// Icon draw
.bar-icon {
  width: 50px;
  height: 10px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  transition: color 0.2s ease-out;

  span {
    width: 100%;
    height: 2px;
    background: var(--white);
    display: inline-block;
    transition: color 0.2s ease-out;

    &:nth-child(2) {
      margin-left: 0px;
    }
  }

  &:hover {
    span {
      animation: qode-draw 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;

      &:nth-child(2) {
        margin-left: 0px;
        animation-delay: 0.1s;
      }

      &:nth-child(3) {
        animation-delay: 0.2s;
      }
    }
  }

  &.is-black {
    span {
      background: var(--white);
    }
  }

  &.is-white {
    span {
      background: var(--white);
    }
  }
}

// Animate offcanvas draw
@keyframes qode-draw {
  0%,
  100% {
    -webkit-clip-path: inset(-2px 0);
    clip-path: inset(-2px 0);
  }

  42% {
    -webkit-clip-path: inset(-2px 0 -2px 100%);
    clip-path: inset(-2px 0 -2px 100%);
  }

  43% {
    -webkit-clip-path: inset(-2px 100% -2px 0);
    clip-path: inset(-2px 100% -2px 0);
  }
}
