.hero {
  &__inner {
    padding-top: 196px;
    padding-bottom: 160px;

    @media #{$xxl} {
      padding-top: 160px;
    }

    @media #{$xl} {
      padding-top: 130px;
      padding-bottom: 80px;
    }
    @media #{$lg} {
      padding-top: 110px;
    }
    @media #{$md} {
      padding-top: 90px;
    }
    @media #{$sm} {
      padding-top: 80px;
    }
  }

  &__content {
    position: relative;

    .hero-title {
      font-weight: 800;
      font-size: 150px;
      line-height: 200px;
      text-transform: uppercase;
      @media #{$xxl} {
        font-size: 150px;
        line-height: 170px;
      }
      @media #{$xl} {
        font-size: 130px;
        line-height: 150px;
      }
      @media #{$lg} {
        font-size: 120px;
        line-height: 120px;
      }
      @media #{$md} {
        font-size: 90px;
        line-height: 100px;
      }
      @media #{$sm} {
        font-size: 65px;
        line-height: 80px;
      }
      @media #{$xs} {
        font-size: 50px;
        line-height: 60px;
      }

      .des {
        font-size: 20px;
        font-weight: 500;
        max-width: 433px;
        line-height: 30px;
        font-style: normal;
        text-indent: 162px;
        display: inline-block;
        text-transform: math-auto;
        font-family: var(--font_dmsans);
        transform: translatey(-15%);
        margin-left: 60px;

        @media #{$xxl} {
          margin-left: 0;
        }
        @media #{$xl} {
          font-size: 18px;
          max-width: 380px;
          line-height: 26px;
          text-indent: 100px;
          transform: translatey(0%);
        }
        @media #{$md} {
          max-width: 460px;
          text-indent: 80px;
        }

        @media #{$xs} {
          max-width: 100%;
          text-indent: 0px;
          margin: 20px 0px;
        }
      }
      .arrow {
        margin-left: 98px;

        @media #{$xxl} {
          margin-left: 0;
          max-width: 110px;
        }
        @media #{$xl} {
          max-width: 90px;
        }
        @media #{$lg} {
          max-width: 80px;
        }
        @media #{$sm} {
          max-width: 50px;
        }

        @media #{$xs} {
          max-width: 40px;
        }
      }
      .circle {
        @media #{$xxl} {
          max-width: 190px;
        }
        @media #{$xl} {
          max-width: 165px;
        }
        @media #{$lg} {
          max-width: 122px;
        }
        @media #{$sm} {
          max-width: 80px;
        }
      }
    }
  }

  &__featured {
    right: 0;
    top: 30px;
    padding: 20px;
    max-width: 515px;
    position: absolute;
    border-radius: 10px;
    background: var(--white);

    @media #{$xxl} {
      max-width: 430px;
    }
    @media #{$xl} {
      max-width: 370px;
    }
    @media #{$lg} {
      position: inherit;
      margin-top: 20px;
    }

    @media #{$xs} {
      padding: 10px;
    }

    &__item {
      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__bottom {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;

      @media #{$xs} {
        flex-wrap: wrap;
        gap: 10px;
      }

      .title {
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        color: var(--primary);

        @media #{$xl} {
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
    &__arrow {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    &__prev,
    &__next {
      width: 62px;
      height: 32px;
      background: #e5e0d0;
      display: flex;
      align-items: center;
      border-radius: 80px;
      justify-content: center;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: var(--action);
      }
    }
  }
}

.hero-video {
  &__wrapper {
    justify-content: space-between;
    display: flex;

    @media #{$xs} {
      flex-wrap: wrap;
    }

    .hero__play {
      width: 285px;
      display: flex;

      @media #{$sm} {
        width: 100%;
      }

      .popup-video {
        width: 156px;
        height: 100%;
        display: flex;
        min-width: 156px;
        align-items: center;
        background: #b3ec11;
        justify-content: center;

        @media #{$xs} {
          height: 50px;
          width: 100%;
          min-width: 100%;
        }

        &.has--play {
          font-size: 18px;
          font-weight: 700;
          background: var(--white);

          @media #{$sm} {
            font-size: 16px;
            width: 100%;
            min-width: 100%;
            justify-content: flex-start;
            padding-left: 10px;
          }

          @media #{$xs} {
          }
        }

        @media #{$md} {
          min-width: 110px;
        }

        @media #{$sm} {
          width: 90px;
          min-width: 90px;
        }
      }
    }

    .work {
      width: 100%;
      padding-left: 75px;
      padding-right: 210px;
      padding-top: 47px;
      padding-bottom: 47px;
      background-color: #3b4eff;

      @media #{$lg} {
        padding-left: 50px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      @media #{$md} {
        padding-left: 20px;
        padding-right: 0;
        padding-top: 40px;
        padding-bottom: 40px;
      }

      @media #{$sm} {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      a {
        font-size: 18px;
        font-weight: 700;
        position: relative;

        &::before {
          left: 0;
          bottom: 0;
          height: 1px;
          content: "";
          width: 100%;
          position: absolute;
          transition: all 0.3s;
          background-color: currentColor;
        }

        &:hover {
          color: var(--white);

          &::before {
            width: 0;
          }
        }
      }
    }
    .play {
      width: 100%;
      padding-top: 47px;
      padding-bottom: 47px;
      padding-right: 75px;
      text-align: right;
      background: var(--white);

      @media #{$lg} {
        padding-right: 50px;
        padding-top: 40px;
        padding-bottom: 40px;
      }

      @media #{$md} {
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      @media #{$sm} {
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      @media #{$xs} {
        text-align-last: left;
        padding-left: 20px;
      }

      a {
        font-size: 18px;
        font-weight: 700;
        position: relative;
        color: var(--black);

        &::before {
          left: 0;
          bottom: 0;
          height: 1px;
          content: "";
          width: 100%;
          position: absolute;
          transition: all 0.3s;
          background-color: currentColor;
        }

        &:hover {
          color: var(--black);

          &::before {
            width: 0;
          }
        }
      }
    }
  }
}
