.media-wrapper {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.mission-statement {
  &__top {
    margin-bottom: 110px;

    @media #{$xl} {
      margin-bottom: 100px;
    }

    @media #{$lg} {
      margin-bottom: 80px;
    }

    @media #{$md} {
      margin-bottom: 60px;
    }
    .sub-title {
      font-size: 60px;
      line-height: 70px;
      color: #b3ec11;
      margin-bottom: 30px;

      @media #{$xl} {
        font-size: 50px;
      }

      @media #{$lg} {
        font-size: 40px;
        line-height: 55px;
      }
      @media #{$md} {
        font-size: 35px;
        line-height: 45px;
      }
      @media #{$sm} {
        font-size: 25px;
        line-height: 35px;
      }

      svg {
        @media #{$md} {
          width: 12px;
        }
      }
    }
  }

  &__item {
    gap: 0px 35px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    &:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    @media #{$lg} {
      gap: 0px 20px;
    }
    @media #{$lg} {
      padding: 20px 0;
    }
    .title {
      font-size: 90px;
      line-height: 100px;
      font-weight: 600;

      @media #{$xxl} {
        font-size: 65px;
        line-height: 75px;
      }
      @media #{$xl} {
        font-size: 55px;
        line-height: 70px;
      }
      @media #{$lg} {
        font-size: 46px;
        line-height: 65px;
      }
      @media #{$md} {
        font-size: 40px;
        line-height: 55px;
      }
      @media #{$sm} {
        font-size: 32px;
        line-height: 46px;
      }
      @media #{$xs} {
        font-size: 28px;
        line-height: 46px;
      }

      &.has--border {
        gap: 35px;
        display: flex;
        font-weight: 400;
        border: 1px solid #b3ec11;
        border-radius: 90px;
        align-items: center;
        padding: 0px 35px;

        @media #{$xl} {
          gap: 20px;
          padding: 0px 20px;
        }
        @media #{$xs} {
          padding: 0px 10px;
        }
        span {
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          background: #b3ec11;
          border-radius: 500px;
          justify-content: center;

          @media #{$md} {
            width: 40px;
            height: 40px;
          }

          svg {
            @media #{$md} {
              width: 12px;
            }
          }
        }
      }
    }
  }

  &__content {
    max-width: 1246px;
    margin-left: auto;
    .description {
      font-size: 42px;
      line-height: 52px;
      font-weight: 700;
      font-family: var(--font_brico);
      margin-bottom: 120px;

      @media #{$xl} {
        font-size: 40px;
        margin-bottom: 100px;
      }
      @media #{$lg} {
        font-size: 33px;
        line-height: 45px;
        margin-bottom: 80px;
      }
      @media #{$md} {
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 60px;
      }
      @media #{$sm} {
        font-size: 22px;
        line-height: 32px;
      }
      @media #{$xs} {
        font-size: 18px;
      }
    }
  }

  &__box {
    padding: 48px 60px;
    display: flex;
    align-items: center;
    background: #fbf7f0;
    border-radius: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
    position: relative;

    @media #{$lg} {
      padding: 40px 40px;
    }
    @media #{$md} {
      flex-wrap: wrap;
    }
    @media #{$sm} {
      padding: 30px;
    }
    @media #{$xs} {
      padding: 10px 20px 20px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background: #3b4eff;
      border-radius: 2px;
      right: 15px;
      bottom: 15px;
      @media #{$xs} {
        width: 10px;
        height: 10px;
        right: 10px;
        bottom: 10px;
      }
    }
    h2 {
      font-size: 200px;
      line-height: 200px;
      color: var(--black);
      font-weight: 700;

      @media #{$xl} {
        font-size: 170px;
        line-height: 180px;
      }
      @media #{$lg} {
        font-size: 120px;
        line-height: 130px;
      }
      @media #{$md} {
        font-size: 90px;
        line-height: 100px;
      }
      @media #{$sm} {
        font-size: 70px;
        line-height: 90px;
      }
      @media #{$sm} {
        font-size: 60px;
        line-height: 80px;
      }
      .odometer.odometer-auto-theme,
      .odometer.odometer-theme-default {
        font-family: var(--font_brico);
        line-height: 1;
      }
    }
    p {
      color: var(--black);
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
      max-width: 390px;
      text-indent: 105px;
      font-family: var(--font_brico);

      @media #{$md} {
        text-indent: 0px;
        max-width: 100%;
      }
      @media #{$sm} {
        font-size: 25px;
        line-height: 35px;
      }
      @media #{$xs} {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  &__wrapper {
    gap: 30px;
    display: flex;
    justify-content: space-between;

    @media #{$sm} {
      flex-wrap: wrap;
    }

    .item-box {
      padding: 54px 60px;
      background: #fbf7f0;
      border-radius: 10px;
      width: 100%;
      position: relative;

      @media #{$lg} {
        padding: 30px 40px;
      }
      @media #{$md} {
        padding: 20px 40px 30px;
      }
      @media #{$xs} {
        padding: 10px 20px 20px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: #3b4eff;
        border-radius: 2px;
        right: 15px;
        bottom: 15px;

        @media #{$xs} {
          width: 10px;
          height: 10px;
          right: 10px;
          bottom: 10px;
        }
      }

      h4 {
        font-size: 100px;
        line-height: 100px;
        color: var(--black);
        font-weight: 700;
        margin-bottom: 60px;

        @media #{$xl} {
          font-size: 90px;
          margin-bottom: 40px;
        }

        @media #{$xl} {
          font-size: 70px;
          margin-bottom: 10px;
        }
        @media #{$md} {
          font-size: 60px;
          margin-bottom: 0px;
        }
        @media #{$sm} {
          font-size: 50px;
        }
        @media #{$sm} {
          font-size: 40px;
          line-height: 60px;
        }
        .odometer.odometer-auto-theme,
        .odometer.odometer-theme-default {
          font-family: var(--font_brico);
          line-height: 1;
        }
      }

      p {
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
        color: var(--black);
        text-align: right;
        font-family: var(--font_brico);

        @media #{$lg} {
          text-align: left;
        }

        @media #{$lg} {
          font-size: 24px;
          line-height: 30px;
        }
        @media #{$xs} {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
}
