.our-services {
  .section-2 {
    &__top {
      gap: 10px;
      display: flex;
      padding-bottom: 35px;
      border-bottom: 1px solid var(--black);
      justify-content: space-between;

      @media #{$xs} {
        flex-wrap: wrap;
      }

      h6 {
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        color: var(--black);
      }

      .left-sub-title {
        position: relative;
        padding-left: 20px;

        &::before {
          top: 50%;
          left: 0;
          width: 10px;
          content: "";
          height: 10px;
          position: absolute;
          border-radius: 500px;
          background-color: var(--black);
          transform: translate(0px, -50%);
        }
      }
    }

    &__bottom {
      max-width: 1137px;
      margin-left: auto;
      margin-top: 35px;

      @media #{$md} {
        max-width: 100%;
      }

      .title {
        color: var(--black);
      }
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 820px;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--black);

    &:first-child {
      border-top: 1px solid var(--black);
    }

    @media #{$xxl} {
      grid-template-columns: 1fr 640px;
    }
    @media #{$xl} {
      grid-template-columns: 1fr 540px;
    }
    @media #{$lg} {
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .title-wrapper {
      .title {
        gap: 60px;
        display: flex;
        font-size: 90px;
        color: var(--black);
        line-height: 100px;
        align-items: center;

        @media #{$xxl} {
          gap: 40px;
          font-size: 70px;
        }
        @media #{$xl} {
          font-size: 50px;
          line-height: 60px;
        }
        @media #{$sm} {
          font-size: 50px;
          line-height: 60px;
        }
        @media #{$xs} {
          font-size: 28px;
          line-height: 30px;
          flex-wrap: wrap;
          gap: 20px;
        }
        span {
          font-size: 20px;
        }

        a {
          &:hover {
            color: var(--blue);
          }
        }
      }
    }

    &:hover {
      .our-services {
        &__media {
          height: 620px;
          
          @media #{$xs} {
            height: 580px;
          }
          
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 1;
            
            @media #{$xs} {
              height: 100%;
              width: 100%;
              object-fit: cover;
              opacity: 1;
            }
          }
          
          .content {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  &__media {
    height: 295px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    @media #{$xs} {
      height: 360px;
    }
img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      transform-origin: center center;
      opacity: 0.85;
    }

    .content {
      top: 30px;
      right: 30px;
      left: 30px;
      padding: 40px;
      text-align: center;
      position: absolute;
      border-radius: 10px;
      background: #fbf7f0;
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      transform: translateY(100%);
      opacity: 0;
      transition: all 0.5s;

      @media #{$xxl} {
        padding: 40px 20px;
      }
      @media #{$xl} {
        padding: 30px 20px;
      }

      @media #{$xs} {
        top: 10px;
        right: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
      }

      p {
        color: #444444;
        max-width: 519px;
        font-size: 18px;
        line-height: 28px;
        margin-left: auto;
        margin-right: auto;
        text-indent: 150px;

        @media #{$sm} {
          text-indent: 0px;
        }
        @media #{$xs} {
          font-size: 15px;
          line-height: 25px;
        }
      }

      ul {
        gap: 15px;
        display: flex;
        margin-top: 35px;
        align-items: center;
        justify-content: center;

        @media #{$xs} {
          flex-wrap: wrap;
        }

        @media #{$xl} {
          gap: 10px;
          display: flex;
          margin-top: 30px;
        }

        li {
          font-size: 14px;
          font-weight: 700;
          padding: 3px 25px;
          line-height: 26px;
          border-radius: 500px;
          text-transform: uppercase;
          border: 1px solid var(--black);

          @media #{$xl} {
            font-size: 12px;
            font-weight: 700;
            padding: 3px 10px;
          }
        }
      }
    }
  }
}
