.portfolio-details {
  .portfolio-details-inner {
    padding-top: 250px;

    @media #{$md} {
      padding-top: 230px;
    }
    @media #{$sm} {
      padding-top: 180px;
    }
    @media #{$xs} {
      padding-top: 160px;
    }
  }

  &__content {
    .title {
      font-weight: 700;
      font-size: 100px;
      line-height: 110px;
      color: var(--white);
      margin-bottom: 15px;
      text-align: center;
      margin-bottom: 35px;
      @media #{$md} {
        font-size: 80px;
      }
      @media #{$lg} {
        font-size: 80px;
        line-height: 90px;
      }
      @media #{$sm} {
        font-size: 60px;
        line-height: 70px;
      }
      @media #{$xs} {
        font-size: 35px;
        line-height: 45px;
      }
    }
  }
  .meta-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    li {
      padding: 4px 25px;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 26px;
      color: var(--white);
      text-transform: uppercase;
      border: 1px solid var(--white);
      border-radius: 90px;
      @media #{$md} {
        font-size: 10px;
      }
      @media #{$sm} {
        padding: 3px 18px;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        font-size: 12px;
      }
    }
  }

  &__info {
    display: flex;
    gap: 10px 55px;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 1320px;
    padding: 35px 50px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #282828;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset -10px 0px 10px rgba(0, 0, 0, 0.25);

    @media #{$xxl} {
      padding: 35px 35px;
    }
    @media #{$xl} {
      padding: 35px 30px;
      gap: 10px 40px;
    }
    @media #{$lg} {
      padding: 35px 20px;
      gap: 10px 15px;
    }
    @media #{$md} {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 20px 15px;
    }

    &-item {
      &:not(:last-child) {
        padding-right: 55px;
        border-right: 1px solid #282828;

        @media #{$xl} {
          padding-right: 29px;
        }
        @media #{$lg} {
          padding-right: 14px;
        }
        @media #{$md} {
          border-right: none;
        }
      }
      span {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #aaaaaa;
        display: block;
        margin-bottom: 10px;
      }
      h6 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        i {
          margin-left: 10px;
        }

        &:hover {
          a {
            color: var(--action);
          }
        }
      }
    }
  }
}

// portfolio-area
.portfolio-details-main {
  .portfolio-details-inner {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 60px;
  }

  .title {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    color: var(--white);
    margin-bottom: 35px;

    @media #{$lg} {
      font-size: 40px;
      line-height: 50px;
    }
    @media #{$md} {
      font-size: 35px;
      line-height: 50px;
    }
    @media #{$sm} {
      font-size: 28px;
      line-height: 38px;
    }
    @media #{$xs} {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .content {
    .sub-title {
      margin-bottom: 35px;
      font-size: 20px;
      line-height: 30px;

      @media #{$xs} {
        font-size: 18px;
        line-height: 28px;
      }
    }
    .description {
    }

    .content-list {
      margin-bottom: 25px;

      li {
        position: relative;
        font-family: var(--font_brico);
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--white);
        padding-left: 25px;

        &:not(:last-child) {
          margin-bottom: 12px;
        }
        &::before {
          position: absolute;
          content: "";
          left: 0;
          height: 11px;
          width: 11px;
          top: 50%;
          background: #fff;
          transform: translate(0px, -50%);
          border-radius: 100px;
        }
      }
    }
  }
  .description {
    color: #aaaaaa;
    margin-bottom: 60px;
  }

  .thumb {
    margin-bottom: 60px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .list {
    margin-top: -25px;
    margin-bottom: 60px;
    li {
      position: relative;
      padding-left: 25px;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #aaaaaa;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        height: 11px;
        width: 11px;
        top: 50%;
        background: #aaaaaa;
        transform: translate(0px, -50%);
        border-radius: 100px;
      }
    }
  }
}
