.branding-identity {
  .branding-identity-inner {
    text-align: center;
    padding-top: 250px;

    @media #{$md} {
      padding-top: 230px;
    }
    @media #{$sm} {
      padding-top: 160px;
    }
  }

  .title {
    font-size: 100px;
    line-height: 110px;
    font-weight: 700;
    margin-bottom: 35px;

    @media #{$md} {
      font-size: 80px;
      line-height: 90px;
    }
    @media #{$sm} {
      font-size: 60px;
      line-height: 60px;
    }
    @media #{$xs} {
      font-size: 35px;
      line-height: 35px;
    }
  }

  &__list {
    gap: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      border-radius: 500px;
      border: 1px solid var(--white);
      padding: 4px 25px;
      font-size: 14px;
      font-weight: 700;
      color: var(--white);
      line-height: 26px;

      @media #{$sm} {
        padding: 4px 15px;
      }
    }
  }
}

.services-slider {
  .media {
    position: relative;
    img {
      width: 100%;
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
    }
  }
  &__arrow {
    gap: 30px;
    display: flex;

    justify-content: space-between;

    &-prev,
    &-next {
      width: 60px;
      height: 60px;
      transition: all 0.3s;
      background: var(--white);
      border-radius: 500px;

      @media #{$xs} {
        width: 40px;
        height: 40px;
        font-size: 10px;
      }

      &:hover {
        background: var(--action);
      }
    }

    &-next {
      top: 50%;
      z-index: 2;
      right: 35px;
      position: absolute;
      transform: translate(0px, -50%);

      @media #{$xs} {
        right: 10px;
      }
    }

    &-prev {
      top: 50%;
      left: 35px;
      z-index: 2;
      position: absolute;
      transform: translate(0px, -50%);

      @media #{$xs} {
        left: 10px;
      }
    }
  }
}

.services-details {
  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    margin-top: 60px;
    .title {
      font-size: 52px;
      line-height: 62px;
      font-weight: 700;
      margin-bottom: 30px;

      @media #{$md} {
        font-size: 40px;
        line-height: 50px;
      }
      @media #{$sm} {
        font-size: 35px;
        line-height: 45px;
      }
      @media #{$xs} {
        font-size: 25px;
        line-height: 35px;
      }
    }

    .sub-title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      margin-bottom: 30px;

      @media #{$xs} {
        font-size: 18px;
      }
    }

    .description {
      color: #aaaaaa;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 60px;
    }

    .list {
      margin-top: 35px;

      li {
        list-style: none;
        color: #aaaaaa;
        position: relative;
        font-size: 18px;
        padding-left: 25px;
        line-height: 28px;
        &:not(:last-child) {
          margin-bottom: 25px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 11px;
          height: 11px;
          border-radius: 500px;
          background: #aaaaaa;
          transform: translate(0px, -50%);

          @media #{$xs} {
            top: 25%;
          }
        }
      }
    }
  }
}

.video-services {
  .media {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .popup-video {
    top: 50%;
    left: 50%;
    display: flex;
    height: 150px;
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    align-items: center;
    border-radius: 500px;
    justify-content: center;
    background: var(--white);
    transform: translate(-50%, -50%);

    @media #{$md} {
      width: 120px;
      height: 120px;
    }
  }
}
.video__pagination {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  a {
    gap: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
    align-items: center;
    border-radius: 500px;
    transition: all 0.3s;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--white);

    @media #{$md} {
      width: 150px;
      height: 150px;
    }

    &:hover {
      border-color: transparent;
      background: #b3ec11;
      color: var(--black);

      svg [stroke="white"] {
        stroke: var(--black);
      }
    }
  }
}
