/*----------------------------------------*/
/*  5.2 sidebar
/*----------------------------------------*/

// Sidebar Widget

.blog__right {
  margin-top: 60px;
  margin-left: -80px;

  @media #{$xxl} {
    margin-left: 0;
  }
}
.sidebar__widget {
  max-width: 413px;

  @media #{$lg} {
    max-width: 100%;
  }

  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.sidebar__widget {
  padding: 35px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #282828;
  box-shadow: inset -10px 0px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 10px;

  @media #{$xl} {
    padding: 30px 25px;
  }

  @media #{$xs} {
    padding: 35px;
  }

  &-title {
    font-size: 25px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 35px;
    color: var(--white);
    font-family: var(--font_brico);
  }

  &-search {
    .search__bar {
      position: relative;
      height: 60px;
      overflow: hidden;

      input {
        width: 100%;
        height: 100%;
        color: var(--white);
        border: none;
        padding: 17px 25px;
        box-shadow: none;
        border-radius: 10px;
        padding-right: 70px;
        background: var(--black);

        &::placeholder {
          font-family: var(--font_dmsans);
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #aaaaaa;
        }
        &:hover,
        &:focus {
          outline: none;
        }
      }

      button {
        right: 0;
        padding: 0;
        width: 60px;
        height: 100%;
        position: absolute;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: var(--black);
        background: var(--action);
        border-radius: 0px 10px 10px 0px;

        &:hover {
          background: var(--secondary);
        }
      }
    }
  }

  &-category {
    a {
      font-size: 18px;
      line-height: 28px;
      color: #aaaaaa;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      gap: 10px;
      .title {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }

      i {
        font-size: 18px;
        line-height: 28px;
        color: #aaaaaa;
      }

      &:hover {
        color: var(--action);

        i {
          color: var(--action);
        }
      }
    }
  }

  &-post {
    gap: 25px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__thum {
      width: 90px;
      height: 90px;
      overflow: hidden;
      min-width: 90px;
      display: block;

      img {
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        object-fit: cover;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__content {
      &-meta {
        margin-bottom: 8px;
        li {
          display: flex;
          align-items: center;
          gap: 5px;
          flex-wrap: wrap;
          a {
            font-size: 16px;
            line-height: 22px;
            align-items: center;
            text-transform: uppercase;
            color: var(--white);
          }

          i {
            font-size: 14px;
            color: var(--rr-text-body);
          }

          a {
            &:hover {
              color: var(--action);
              i {
                color: var(--primary);
              }
            }
          }
        }
      }

      &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        font-family: var(--font_brico);
        color: var(--white);

        @media #{$xs} {
          font-size: 14px;
          line-height: 18px;
        }

        &:hover {
          color: var(--action);
        }
      }
    }
  }

  &-tags {
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 7px;

      a {
        overflow: hidden;
        padding: 2px 21px;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 26px;
        border-radius: 500px;
        display: flex;
        align-items: center;
        transition: all 0.3s;
        color: var(--white);
        border: 1px solid rgba(255, 255, 255, 0.1);

        &:hover {
          color: var(--black);
          background: var(--action);
        }
      }
    }
  }
}
