.gutter-30 {
  --bs-gutter-x: 30px;
}
.gutter-35 {
  --bs-gutter-x: 35px;
}

.mb-minus-30 {
  margin-bottom: -30px;
}
.mt-30 {
  margin-top: 30px;
}
// bg-color
.theme-bg-gray {
  background-color: #e5e0d0;
}
.theme-bg-white {
  background-color: #fff;
}
.theme-bg-light {
  background-color: #fbf7f0;
}

//theme color
.text-black {
  color: var(--black);
}

.section-2 {
  &-title-wrapper {
  }

  &__top {
    gap: 10px;
    display: flex;
    padding-bottom: 35px;
    border-bottom: 1px solid var(--white);
    justify-content: space-between;

    @media #{$xs} {
      flex-wrap: wrap;
    }

    h6 {
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      color: var(--white);
    }

    .left-sub-title {
      position: relative;
      padding-left: 20px;

      &::before {
        top: 50%;
        left: 0;
        width: 10px;
        content: "";
        height: 10px;
        position: absolute;
        border-radius: 500px;
        background-color: var(--white);
        transform: translate(0px, -50%);
      }
    }
  }

  &__bottom {
    max-width: 1137px;
    margin-left: auto;
    margin-top: 35px;

    @media #{$md} {
      max-width: 100%;
    }

    .title {
      font-weight: 700;
      font-size: 52px;
      line-height: 62px;
      color: var(--white);
      text-indent: 300px;
      margin-bottom: 35px;

      @media #{$md} {
        font-size: 40px;
        line-height: 50px;
        text-indent: 0;
      }
      @media #{$sm} {
        font-size: 30px;
        line-height: 45px;
      }
      @media #{$xs} {
        font-size: 20px;
        line-height: 30px;
      }
    }
    &-2 {
      max-width: 1137px;
      margin-left: 0;
      margin-top: 35px;
      text-align: center;
    }
  }
}
// section space
.section-space {
  padding-top: 120px;
  padding-bottom: 120px;

  @media #{$xl} {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media #{$lg} {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media #{$md} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section-space-top {
  padding-top: 120px;

  @media #{$xl} {
    padding-top: 100px;
  }

  @media #{$lg} {
    padding-top: 80px;
  }

  @media #{$md} {
    padding-top: 60px;
  }
}
.section-space-top-2 {
  padding-top: 72px;

  @media #{$xl} {
    padding-top: 50px;
  }

  @media #{$lg} {
    padding-top: 40px;
  }

  @media #{$md} {
    padding-top: 40px;
  }
}
.section-space-bottom {
  padding-bottom: 120px;

  @media #{$xl} {
    padding-bottom: 100px;
  }

  @media #{$lg} {
    padding-bottom: 80px;
  }

  @media #{$md} {
    padding-bottom: 60px;
  }
}
.section-space-top-2 {
  padding-bottom: 72px;

  @media #{$xl} {
    padding-bottom: 50px;
  }

  @media #{$lg} {
    padding-bottom: 40px;
  }

  @media #{$md} {
    padding-bottom: 40px;
  }
}
/*----------------------------------------
   Mfp customize
-----------------------------------------*/
.mfp-iframe-holder {
  .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 1280px;

    @media #{$xxl} {
      max-width: 1000px;
    }

    @media #{$xl} {
      max-width: 850px;
    }

    @media #{$lg} {
      max-width: 820px;
    }

    @media #{$md} {
      max-width: 750px;
    }
  }
}

.mfp-close {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);

  &:hover {
    color: var(--white);
  }

  &::after {
    position: absolute;
    content: "\f00d";
    height: 100%;
    width: 100%;
    font-family: var(--font_awesome);
    font-size: 31px;
    font-weight: 200;
    right: -20px;
    margin-top: -25px;

    @media #{$xs, $sm, $md} {
      right: 15px;
      margin-top: -30px;
    }
  }
}

.section {
  &-sub__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h6 {
      position: relative;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      border-radius: 90px;
      background: #b3ec11;
      color: var(--primary);
      padding: 5px 25px;
    }

    span {
      height: 1px;
      flex: 1;
      background-color: rgb(255 255 255 / 10%);
    }
  }

  &__wrap {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$md} {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    text-transform: uppercase;

    @media #{$xl} {
      font-size: 170px;
      line-height: 170px;
    }
    @media #{$lg} {
      font-size: 140px;
      line-height: 150px;
    }
    @media #{$md} {
      font-size: 120px;
      line-height: 130px;
    }
    @media #{$sm} {
      font-size: 100px;
      line-height: 110px;
    }
    @media #{$xs} {
      font-size: 60px;
      line-height: 75px;
    }
  }

  &__content {
    max-width: 417px;
    p {
      text-indent: 103px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #aaaaaa;
      margin-bottom: 30px;
    }
  }
}

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
.fade-in-bottom {
  -webkit-animation-name: fade-in-bottom;
  animation-name: fade-in-bottom;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
.fade-in-left {
  -webkit-animation-name: fade-in-left;
  animation-name: fade-in-left;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
.fade-in-right {
  -webkit-animation-name: fade-in-right;
  animation-name: fade-in-right;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* উপরে যাবে */
  }
}

.upDown {
  animation: upDown 5s infinite ease-in-out;
}
