// heading  
@mixin heading($font_family, $font_weight, $line_height) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font_family;
        font-weight: $font_weight;
        line-height: $line_height;
    }
}